<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="loremCss.css" rel="stylesheet">
</head>
<body>
<div class="lorem-frame">
<h1>Generator Lorem ipsum</h1>

<form action="printout" class="block">
    <div class="block">Wyświetl </div>
    <select id="inputtype" name="inputtype">
        <option value="słowa">słowa</option>
        <option value="zdania">zdania</option>
        <option value="paragrafy">paragrafy</option>
    </select>
    <span class="block-right"> ilość </span>  <input type="number" name="howmany" min="1", max="1228" value="0"; >

    <div class="central"><input type="submit" value="Pokaż tekst"></div>
</form>
</div>
</body>
</html>